.featured {
  margin-bottom: 35px;

  h2 {
    color: #252525;
    font-size: 2.75em;
    font-family: ceraBold;
    line-height: 1;
    text-align: center;
  }
}

.title {
  margin-bottom: 35px;

  div {
    width: 80px;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: var(--green-color);
  }
}

.featuredProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.skeletion {
  width: 100%;
  height: 150px;
}
