.shop {
  margin: 60px 0;
  margin-bottom: 50px;
}

.shopContent {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .shopContent {
    flex-direction: column;
    row-gap: 35px;
  }

  .shop {
    margin: 30px 0;
    margin-top: 0;
  }
}
