.introduction {
  display: flex;
  margin-bottom: 4.375rem;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .introduction {
    flex-direction: column;
  }
}
