.productInfoContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.skeletion {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 768px) {
  .productInfoContainer {
    width: 100%;
  }

  .productInfo {
    flex-direction: column;
  }
}
