.billing {
  padding-right: 25px;
  h2 {
    color: #252525;
    font-size: 1.125em;
    font-family: ceraBold;
    line-height: 1;
    margin-bottom: 2em;
    font-weight: bold;
  }
}

.nameInputs {
  display: flex;
  column-gap: 15px;
}

.input {
  margin-bottom: 30px;
  width: 100%;

  select,
  input {
    height: 2.8125em;
    border: 0;
    background-color: #eaeff4;
    width: 100%;
    min-width: 0;
    padding: 3px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    line-height: 1.5715;
    border-radius: 2px;
    transition: all 0.3s;
    outline: none;
  }

  label {
    padding-bottom: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    position: relative;

    &::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 16px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: "*";
    }
  }
}

.input textarea {
  background-color: #eaeff4;
  width: 100%;
  min-width: 0;
  padding: 3px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
  border-radius: 2px;
  transition: all 0.3s;
  outline: none;
  height: 8em;
  resize: none;
}

.moreInfo {
  margin-top: 10px;
  p {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    padding-bottom: 10px;
  }
}

.btnInf {
  height: 2.8125em;
  width: 100%;
  background-color: var(--green-color);
  border-color: var(--green-color);
  padding: 2.4px 16px;
  font-size: 16px;
  border-radius: 32px;
  color: #fff;
  border: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  outline: none;
  margin-top: 30px;
  &:hover {
    opacity: 0.8;
  }
}

.btnContainers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15%;
}

@media only screen and (max-width: 768px) {
  .billing {
    padding-right: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  .nameInputs {
    flex-direction: column;
  }

  .input {
    margin-bottom: 20px;
  }

  .btnContainers {
    column-gap: 10%;
    position: absolute;
    bottom: -10px;
    width: 100%;

    button {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .btnContainers {
    column-gap: 5%;
  }
}
