.ad {
  margin: 1.875rem 0;
  position: relative;
  padding: 0.25em 0.9375em;
  z-index: 1;
}

.adBackground {
  img {
    width: auto;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
}

.adInfo {
  z-index: 25;
  padding: 1.75em 0.9375em;
  position: relative;
  display: flex;
  flex-direction: column;
  order: -1;

  a {
    font-size: 0.8125em;
    font-family: geoMr;
    height: 3.4375em;
    text-transform: uppercase;
    padding: 0 2.8125em;
    background-color: var(--green-color);
    border-color: var(--green-color);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;

    &:hover {
      background-color: #e0871a;
    }
  }
}

@media only screen and (max-width: 1015px) {
  .ad {
    margin: 1.875rem 0;
    position: relative;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
}
