@import "@fortawesome/fontawesome-free/css/all.css";
@import "../../public/css/reset.css";

/* style */
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  font-family: ceraReg;
}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
:root {
  --green-color: #f79823;
}

@font-face {
  font-family: ceraReg;
  src: url("/fonts/Cera Pro Regular.otf");
  /* font-weight: normal; */
}

@font-face {
  font-family: ceraBold;
  src: url("/fonts/Cera Pro Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: ceraMed;
  src: "/fonts/Cera Pro Medium.otf";
}
