.menuMobile {
  ul {
    border-right: 0 !important;
    margin-bottom: 3.5714285714em;

    a {
      color: rgba(0, 0, 0, 0.85) !important;
      font-size: 16px;
      font-family: ceraBold;
      white-space: nowrap;
      cursor: pointer;
      line-height: 40px;
      transition: color 0.3s;
    }
  }
}

.mobileLogin {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  a {
    color: #88c74a;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
  }
}

@media only screen and (max-width: 768px) {
  .menuOpener {
    display: block;
  }
}
