.topNav {
  background-color: #f5f5f5;
  padding: 0.625em;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    ul {
      list-style: none;
      & > li {
        display: inline-block;
        padding: 8px 0;
        font-family: ceraReg;
        &:not(:last-child) {
          &::after {
            content: "|";
            padding: 0 0.9375em;
            line-height: 1;
            color: #ebebeb;
          }
        }

        i {
          margin-right: 5px;
        }
      }
    }
    a {
      color: #252525;
      font-size: 1rem;
      font-family: ceraBold;
      transition: 0.3 all;

      &:hover {
        color: var(--green-color);
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
  }
}

.logo {
  a {
    color: #252525;
    font-size: 1em;
    font-family: ceraReg;
    text-decoration: none;
    line-height: 1;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--green-color);
    }
  }
  i {
    margin-right: 0.3125em;
  }
}

@media only screen and (max-width: 768px) {
  .topNav {
    display: none;
  }
}
