.details {
  padding: 0 15px;
  flex: 0 0 47%;
  max-width: 47%;
}
.category {
  color: var(--green-color);
  font-size: 0.75em;
  font-family: ceraBlack;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  margin-bottom: 10px;
}

.title {
  color: #252525;
  font-size: 1.5em;
  font-family: ceraBold;
  line-height: 1;
  margin-bottom: 0.4166666667em;
}

.info {
  color: #636363;
  font-size: 1rem;
  font-family: ceraReg;
  line-height: 1.625em;
  margin-bottom: 0.625em;
}

.deliveryInfo {
  display: block;
  background-color: #eaeff4;
  text-align: center;
  padding: 1.0714285714em;
  margin-bottom: 2.1428571429em;
  color: #252525;
  font-size: 0.875em;
  font-family: ceraMed;
  line-height: 1;
}

.priceInfo {
  margin-bottom: 1.875em;

  del {
    color: #b2b2b2;
    font-size: 0.875em;
    font-family: ceraMed;
    line-height: 1;
  }

  h3 {
    color: var(--green-color);
    font-size: 1.5em;
    font-family: ceraMed;
    line-height: 1;
    margin-right: 16px;
  }
}

.Star {
  display: flex;

  ul {
    transition: none;
  }
}

.quanty {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.button {
  margin-bottom: 0.7692307692em;
  color: var(--green-color);
  border: 2px solid var(--green-color) !important;
  width: 100%;
  font-size: 0.8125em;
  height: 3.4615384615em;
  text-transform: uppercase;
  font-family: ceraBold;
  padding: 2.4px 16px;
  border-radius: 32px;
  background-color: #fff;

  &:hover {
    background-color: var(--green-color);
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  .details {
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
