.productList {
  padding: 10px 0;
  // row-gap: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 0;
}
.product {
  display: grid;
  grid-template-columns: 1.3fr 2fr 1fr 1.5fr 1.5fr 0.7fr;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
  border: 1px solid #ebebeb;
  border-top: none;

  div,
  p {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 1rem;
  }

  .productRemove {
    padding: 10px;
  }
}

.productQuantity {
  div {
    padding: 0;
  }
}
.updateBtn {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;

  button {
    font-size: 0.875em;
    height: 3.2142857143em;
    background-color: #252525;
    border: 0;
    color: #fff;
    font-family: ceraBold;
    padding: 0 2.1428571429em;
    text-transform: uppercase;

    &:hover {
      background-color: var(--green-color);
      color: #fff !important;
    }
  }
}

.quantityInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.btnInf {
  height: 2.8125em;
  width: 100%;
  background-color: var(--green-color);
  border-color: var(--green-color);
  padding: 2.4px 16px;
  font-size: 16px;
  border-radius: 32px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  outline: none;
  margin-top: 30px;
  &:hover {
    opacity: 0.8;
    color: #fff !important;
    border-color: var(--green-color) !important;
  }
}

@media only screen and (max-width: 768px) {
}
